@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>RecipesService</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
        <div class="panel-group" id="recipesApp" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="searchPanelHeading">
                    <h2 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#recipesApp" href="#searchPanelCollapse" aria-expanded="true" aria-controls="searchPanelCollapse">Search for Recipes</a>
                    </h2>
                </div>
                <div id="searchPanelCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="searchPanelHeading">
                    <div class="panel-body">
                        <form data-bind="submit: searchRecipes">
                            <label for="malts">Malts</label>
                            <div class="form-group">
                                <select id="malts" data-bind="options: Malts.Malt, optionsText: 'malt', optionsValue : 'id', selectedOptions: SearchQuery.maltQuery, select2: {}" size="10" multiple class="form-control" style="width: 100%"></select>
                                
                            </div>

                            <label for="hops">Hops</label>
                            <div class="form-group">
                                <select id="hops" data-bind="options: Hops.Hop, optionsText: 'hops', optionsValue : 'id', selectedOptions: SearchQuery.hopQuery, select2: {}" size="10" multiple class="form-control" style="width: 100%"></select>
                            </div>

                            <label for="yeast">Yeast</label>
                            <div class="form-group">
                                <select id="yeast" data-bind="options: Yeasts.Yeast, optionsText: 'yeastName', optionsValue : 'id', selectedOptions: SearchQuery.yeastQuery, select2: {}" size="10" multiple class="form-control" style="width: 100%"></select>
                            </div>

                            <label for="abvmin">ABV <span class="sr-only">Minimum</span></label>
                            <label for="abvmax" class="sr-only">ABV Maximum</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <input id="abvmin" type="text" class="form-control" data-bind="textInput: SearchQuery.abvSlider.min" />
                                    </div>
                                    <div class="col-xs-8 slider-cont">
                                        <div id="abvSlider" data-bind="rangeSlider: {minValue: SearchQuery.abvSlider.min, maxValue: SearchQuery.abvSlider.max, minSlider: 0, maxSlider:20, decimal: 1, step:0.1, suffix: '%', pipDensity: 5, pipValues: [0,25, 50,75,100], pipMode: 'positions'}"></div>
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="abvmax" type="text" class="form-control" data-bind="textInput: SearchQuery.abvSlider.max" />
                                    </div>
                                </div>
                            </div>

                            <label for="ibumin">IBU <span class="sr-only">Minimum</span></label>
                            <label for="ibumax" class="sr-only">IBU Maximum</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <input id="ibumin" type="text" class="form-control" data-bind="textInput: SearchQuery.ibuSlider.min" />
                                    </div>
                                    <div class="col-xs-8 slider-cont">
                                        <div id="ibuSlider" data-bind="rangeSlider: {minValue: SearchQuery.ibuSlider.min, maxValue: SearchQuery.ibuSlider.max, minSlider: 0, maxSlider:440, decimal: 0, step:1, suffix: '', pipDensity: 5, pipValues: [0,100, 200,300,400, 440], pipMode: 'values'}"></div>
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="ibumax" type="text" class="form-control" data-bind="textInput: SearchQuery.ibuSlider.max" />
                                    </div>
                                </div>
                            </div>

                            <label for="ebcmin">EBC <span class="sr-only">Minimum</span></label>
                            <label for="ebcmax" class="sr-only">EBC Maximum</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <input id="ebcmin" type="text" class="form-control" data-bind="textInput: SearchQuery.ebcSlider.min" />
                                    </div>
                                    <div class="col-xs-8 slider-cont">
                                        <div id="ebcSlider" data-bind="rangeSlider: {minValue: SearchQuery.ebcSlider.min, maxValue: SearchQuery.ebcSlider.max, minSlider: 0, maxSlider:500, decimal: 0, step:1, suffix: '', pipDensity: 4, pipValues: [0,100, 200,300,400, 500], pipMode: 'values'}"></div>
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="ebcmax" type="text" class="form-control" data-bind="textInput: SearchQuery.ebcSlider.max" />
                                    </div>
                                </div>
                            </div>

                            <label for="fermentmin">Fermenation Temprature <span class="sr-only">Minimum</span></label>
                            <label for="fermentmax" class="sr-only">Fermenation Temprature Maximum</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <input id="fermentmin" type="text" class="form-control" data-bind="textInput: SearchQuery.fermentSlider.min" />
                                    </div>
                                    <div class="col-xs-8 slider-cont">
                                        <div id="fermentSlider" data-bind="rangeSlider: {minValue: SearchQuery.fermentSlider.min, maxValue: SearchQuery.fermentSlider.max, minSlider: 0, maxSlider:30, decimal: 0, step:1, suffix: 'C', pipDensity: 3.5, pipValues: [0,10,20,30], pipMode: 'values'}"></div>
                                    </div>
                                    <div class="col-xs-2">
                                        <input id="fermentmax" type="text" class="form-control" data-bind="textInput: SearchQuery.fermentSlider.max" />
                                    </div>
                                </div>
                            </div>

                            <p class="form-control-static"><strong>Has Adjuncts</strong></p>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="hasAdjuncts" id="hasAdjuncts1" value="" data-bind="checked: SearchQuery.hasAdjuctsQuery" checked> Both
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hasAdjuncts" id="hasAdjuncts2" value="N" data-bind="checked: SearchQuery.hasAdjuctsQuery"> No
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hasAdjuncts" id="hasAdjuncts3" value="Y" data-bind="checked: SearchQuery.hasAdjuctsQuery"> Yes
                                </label>
                            </div>

                            <p class="form-control-static"><strong>Advanced options</strong></p>
                            <div class="form-group">

                                <p class="form-control-static"><strong>Group results?</strong><br />Selecting 'Yes' will group the results by exaxt matches, followed by recipes that would need 1-5 extra ingredients besides the ones select above</p>
                                <label class="radio-inline">
                                    <input type="radio" name="groupResults" id="groupResults1" value="true" data-bind="checked: SearchQuery.groupResults"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="groupResults" id="groupResults1" value="false" data-bind="checked: SearchQuery.groupResults" checked> No
                                </label>

                                <p class="form-control-static"><strong>Yeast Optional?</strong><br />Select 'No' if you only want to see recipes using a particular yeast. Select 'Yes' if you want see all recipes, but mark different yeast as an extra ingredient</p>
                                <label class="radio-inline">
                                    <input type="radio" name="yeastMandatory" id="yeastMandatory1" value="true" data-bind="checked: SearchQuery.yeastMandatory" checked> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="yeastMandatory" id="yeastMandatory2" value="false" data-bind="checked: SearchQuery.yeastMandatory"> No
                                </label>
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="resultsPanelHeading">
                    <h2 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#recipesApp" href="#resultsPanelCollapse" aria-expanded="false" aria-controls="resultsPanelCollapse">Recipe Results</a>
                    </h2>
                </div>
                <div id="resultsPanelCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="resultsPanelHeading">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <p data-bind="click: sortRecipes">Sort by ABV</p>

                            <!-- ko if: SearchQuery.groupResults() === 'true' -->
                            <h3>Exact Matches</h3>
                            <!-- /ko -->
                                <div class="list-group">
                                    <!-- ko foreach: Recipes -->
                                    <a href="#" class="list-group-item" data-bind="click: $parent.getRecipeDetail">
                                        <span data-bind="text: name"></span>
                                        <span class="badge" data-bind="text: formattedABV"></span>
                                    </a>
                                    <!-- /ko -->
                                    
                                    <!--ko if: Recipes().length === 0 -->
                                    <p>No exact matches</p>
                                    <!-- /ko -->

                                    <!-- ko if: SearchQuery.groupResults() === 'true' -->
                                    <h3>One additional ingredient</h3>
                                    <!--ko foreach: recipeMatch1 -->
                                    <a href="#" class="list-group-item" data-bind="click: $parent.getRecipeDetail">
                                        <span data-bind="text: name"></span>
                                        <span class="badge" data-bind="text: formattedABV"></span>
                                    </a>
                                    <!-- /ko -->
                                    <!--ko if: recipeMatch1().length === 0 -->
                                    <p>No results</p>
                                    <!-- /ko -->

                                    <h3>Two additional ingredient</h3>
                                    <!--ko foreach: recipeMatch2 -->
                                    <a href="#" class="list-group-item" data-bind="click: $parent.getRecipeDetail">
                                        <span data-bind="text: name"></span>
                                        <span class="badge" data-bind="text: formattedABV"></span>
                                    </a>
                                    <!-- /ko -->
                                    <!--ko if: recipeMatch2().length === 0 -->
                                    <p>No results</p>
                                    <!-- /ko -->

                                    <h3>Three additional ingredients</h3>
                                    <!--ko foreach: recipeMatch3 -->
                                    <a href="#" class="list-group-item" data-bind="click: $parent.getRecipeDetail">
                                        <span data-bind="text: name"></span>
                                        <span class="badge" data-bind="text: formattedABV"></span>
                                    </a>
                                    <!-- /ko -->
                                    <!--ko if: recipeMatch3().length === 0 -->
                                    <p>No results</p>
                                    <!-- /ko -->

                                    <h3>Four additional ingredients</h3>
                                    <!--ko foreach: recipeMatch4 -->
                                    <a href="#" class="list-group-item" data-bind="click: $parent.getRecipeDetail">
                                        <span data-bind="text: name"></span>
                                        <span class="badge" data-bind="text: formattedABV"></span>
                                    </a>
                                    <!-- /ko -->
                                    <!--ko if: recipeMatch4().length === 0 -->
                                    <p>No results</p>
                                    <!-- /ko -->

                                    <h3>Five+ additional ingredients</h3>
                                    <!--ko foreach: recipeMatch5 -->
                                    <a href="#" class="list-group-item" data-bind="click: $parent.getRecipeDetail">
                                        <span data-bind="text: name"></span>
                                        <span class="badge" data-bind="text: formattedABV"></span>
                                    </a>
                                    <!-- /ko -->
                                    <!--ko if: recipeMatch5().length === 0 -->
                                    <p>No results</p>
                                    <!-- /ko -->
                                    <!-- /ko -->

                                </div>
                                    @*<ul class="list-unstyled" data-bind="foreach: Recipes.Recipe">
                                        <li>
                                            <strong><span data-bind="text: name"></span></strong>: <span data-bind="text: abv"></span>%
                                            <small><a href="#" data-bind="click: $parent.Recipes.getRecipeDetail">Details</a></small>
                                        </li>
                                    </ul>*@
                        </div> 

                        <div class="col-md-6" data-bind="visible: SelectedRecipe() !== null">
                            <div class="panel panel-default">
                                <!-- ko foreach: SelectedRecipe -->


                                <div class="panel-heading">
                                    <h2 class="panel-title" data-bind="text: name"></h2>
                                </div>
                                <table class="table">
                                    <tr><td>Source</td><td data-bind="text: source2"></td></tr>
                                    <tr><td>Recipe No</td><td data-bind="text: number"></td></tr>
                                    <tr><td>Yeast</td><td data-bind="text: yeastName"></td></tr>
                                    <tr><td>ABV</td><td data-bind="text: formattedABV"></td></tr>
                                    <tr><td>IBU</td><td data-bind="text: ibu"></td></tr>
                                    <tr><td>OG</td><td data-bind="text: og"></td></tr>
                                    <tr><td>FG</td><td data-bind="text: fg"></td></tr>
                                    <tr><td>EBC</td><td data-bind="text: ebc"></td></tr>
                                    <tr><td>Has Ajuncts</td><td data-bind="text: hasAdjucts"></td></tr>
                                    <tr><td>Mash Temperature</td><td><span data-bind="text: mashTemp"></span>C</td></tr>
                                    <tr><td>Mash Time</td><td><span  data-bind="text: mashTime"></span> minutes</td></tr>
                                    <tr><td>Fermentation Temperature</td><td data-bind="text: fermentation"></td></tr>
                                    <tr>
                                        <td>Malts</td>
                                        <td>
                                            <!-- ko foreach: recipe_Malts -->
                                            <p data-bind="css: {noMatch: isMatched() === false}"><span data-bind="text: maltGenericName"></span>: <span data-bind="text: weight"></span>kg</p>
                                            <!-- /ko -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hops</td>
                                        <td>
                                            <!-- ko foreach: recipe_Hops -->
                                            <p data-bind="css: {noMatch: isMatched() === false}"><span data-bind="text: hopName"></span>: <span data-bind="text: weight"></span>g - <span data-bind="text: stepName"></span></p>
                                            <!-- /ko -->
                                        </td>
                                    </tr>
                                    <tr><td>Total Hop Bill</td><td><span data-bind="text: totalHopsBill"></span>g</td></tr>
                                    <tr>
                                        <td>Total for each hop</td>
                                        <td>
                                            <!-- ko foreach: totalEachHop -->
                                            <p><span data-bind="text: hopName"></span>: <span data-bind="text: weight"></span>g</p>
                                            <!-- /ko -->
                                        </td>
                                    </tr>

                                </table>


                                <!-- /ko -->
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row" id="recipes">*@
    <!--comment-->
    
        
    @*</div>*@

    @*<!-- ko if:Recipes.detail() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>source2</td><td data-bind="text: Recipes.detail().source2"></td></tr>
                <tr><td>number</td><td data-bind="text: Recipes.detail().number"></td></tr>
                <tr><td>name</td><td data-bind="text: Recipes.detail().name"></td></tr>
                <tr><td>yeastName</td><td data-bind="text: Recipes.detail().yeastName"></td></tr>
                <tr><td>abv</td><td data-bind="text: Recipes.detail().abv"></td></tr>
                <tr><td>ibu</td><td data-bind="text: Recipes.detail().ibu"></td></tr>
                <tr><td>og</td><td data-bind="text: Recipes.detail().og"></td></tr>
                <tr><td>fg</td><td data-bind="text: Recipes.detail().fg"></td></tr>
                <tr><td>ebc</td><td data-bind="text: Recipes.detail().ebc"></td></tr>
                <tr><td>hasAdjucts</td><td data-bind="text: Recipes.detail().hasAdjucts"></td></tr>
                <tr><td>mashTemp</td><td data-bind="text: Recipes.detail().mashTemp"></td></tr>
                <tr><td>mashTime</td><td data-bind="text: Recipes.detail().mashTime"></td></tr>
                <tr><td>fermentation</td><td data-bind="text: Recipes.detail().fermentation"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->*@

    <div class="col-md-4">
        <!-- TODO: Add new book -->
    </div>
</div>
