@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger" data-bind="visible: error().length > 0"><p data-bind="text: error"></p></div>


        <div class="page-header hand-cursor clearfix extra-padding no-margin" data-toggle="collapse" data-parent="#recipesApp" href="#searchPanelCollapse" aria-expanded="true" aria-controls="searchPanelCollapse">
            <h2><span class="glyphicon glyphicon-search rounded-back"></span>Search for Recipes <span class="glyphicon glyphicon-menu-up pull-right"></span></h2>
        </div>
        <div id="searchPanelCollapse" class="collapse in" role="tabpanel" aria-labelledby="searchPanelHeading">
            <form data-bind="submit: searchRecipes">
                
                <div class="form-group">
                    <label for="malts">Malts</label>
                    <select id="malts" data-bind="options: Malts.Malt, optionsText: 'malt', optionsValue : 'id', selectedOptions: SearchQuery.maltQuery, select2: {selection: SearchQuery.maltQuery, closeOnSelect: false}" size="10" multiple class="form-control" style="width: 100%"></select>
        
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-info" id="allPales" data-bind="click: SearchQuery.addPales">Add All Pales</button>
                    <button type="button" class="btn btn-info" id="allExtraPales" data-bind="click: SearchQuery.addExtraPales">Add All Extra Pales</button>
                    <button type="button" class="btn btn-info" id="allCrystal" data-bind="click: SearchQuery.addCrystal">Add All Crystal</button>
                    <button type="button" class="btn btn-info" id="allDarkCrystal" data-bind="click: SearchQuery.addDarkCrystal">Add All Dark Crystal</button>
                    <button type="button" class="btn btn-info" id="myIngredients" data-bind="click: addMyIngredients">Add My Ingredients</button>
                </div>

                
                <div class="form-group">
                    <label for="hops">Hops</label>
                    <select id="hops" data-bind="options: Hops.Hop, optionsText: 'hops', optionsValue : 'id', selectedOptions: SearchQuery.hopQuery, select2: {selection: SearchQuery.hopQuery, closeOnSelect: false}" size="10" multiple class="form-control" style="width: 100%"></select>
                </div>

                
                <div class="form-group">
                    <label for="yeast">Yeast</label>
                    <select id="yeast" data-bind="options: Yeasts.Yeast, optionsText: 'yeastName', optionsValue : 'id', selectedOptions: SearchQuery.yeastQuery, select2: {selection: SearchQuery.yeastQuery, closeOnSelect: false}" size="10" multiple class="form-control" style="width: 100%"></select>
                </div>
                <div class="form-group">
                    <p class="form-control-static"><strong>Show Yeasts</strong></p>
                    <!-- ko with: Yeasts -->
                    <label class="radio-inline">
                        <input type="radio" name="filterYeast" id="filterYeast1" value="" data-bind="checked: WetDryFilter" checked> Both
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="filterYeast" id="filterYeast2" value="N" data-bind="checked: WetDryFilter"> Wet
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="filterYeast" id="filterYeast3" value="Y" data-bind="checked: WetDryFilter"> Dry
                    </label>
                    <!-- /ko -->
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="includeDryOrWetSubs" value="Y" data-bind="checked: SearchQuery.includeDryOrWetSubs" checked> Include Wet/Dry Substitutes?
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="includeManufacturerSubs" value="Y" data-bind="checked: SearchQuery.includeManufacturerSubs"> Include Manufacturer Substitutes?
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="includeSameManufacturerSubs" value="Y" data-bind="checked: SearchQuery.includeSameManufacturerSubs"> Include Same Manufacturer Substitutes?
                    </label>
                </div>

                
                <div class="form-group">
                    <label for="abvmin">ABV <span class="sr-only">Minimum</span></label>
                    <label for="abvmax" class="sr-only">ABV Maximum</label>
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <input id="abvmin" type="text" class="form-control" data-bind="textInput: SearchQuery.abvSlider.min" />
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-sm-8 col-xs-11 slider-cont">
                            <div id="abvSlider" data-bind="rangeSlider: {minValue: SearchQuery.abvSlider.min, maxValue: SearchQuery.abvSlider.max, minSlider: 0, maxSlider:20, decimal: 1, step:0.1, suffix: '%', pipDensity: 5, pipValues: [0,25, 50,75,100], pipMode: 'positions'}"></div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <input id="abvmax" type="text" class="form-control" data-bind="textInput: SearchQuery.abvSlider.max" />
                        </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <label for="ibumin">IBU <span class="sr-only">Minimum</span></label>
                    <label for="ibumax" class="sr-only">IBU Maximum</label>
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <input id="ibumin" type="text" class="form-control" data-bind="textInput: SearchQuery.ibuSlider.min" />
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-sm-8 col-xs-11 slider-cont">
                            <div id="ibuSlider" data-bind="rangeSlider: {minValue: SearchQuery.ibuSlider.min, maxValue: SearchQuery.ibuSlider.max, minSlider: 0, maxSlider:440, decimal: 0, step:1, suffix: '', pipDensity: 5, pipValues: [0,100, 200,300,400, 440], pipMode: 'values'}"></div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <input id="ibumax" type="text" class="form-control" data-bind="textInput: SearchQuery.ibuSlider.max" />
                        </div>
                    </div>
                </div>

               
                <div class="form-group">
                    <label for="ebcmin">EBC <span class="sr-only">Minimum</span></label>
                    <label for="ebcmax" class="sr-only">EBC Maximum</label>
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <input id="ebcmin" type="text" class="form-control" data-bind="textInput: SearchQuery.ebcSlider.min" />
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-sm-8 col-xs-11 slider-cont">
                            <div id="ebcSlider" data-bind="rangeSlider: {minValue: SearchQuery.ebcSlider.min, maxValue: SearchQuery.ebcSlider.max, minSlider: 0, maxSlider:500, decimal: 0, step:1, suffix: '', pipDensity: 4, pipValues: [0,100, 200,300,400, 500], pipMode: 'values'}"></div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <input id="ebcmax" type="text" class="form-control" data-bind="textInput: SearchQuery.ebcSlider.max" />
                        </div>
                    </div>
                </div>

             
                <div class="form-group">
                    <label for="fermentmin">Fermenation Temprature <span class="sr-only">Minimum</span></label>
                    <label for="fermentmax" class="sr-only">Fermenation Temprature Maximum</label>
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <input id="fermentmin" type="text" class="form-control" data-bind="textInput: SearchQuery.fermentSlider.min" />
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-sm-8 col-xs-11 slider-cont">
                            <div id="fermentSlider" data-bind="rangeSlider: {minValue: SearchQuery.fermentSlider.min, maxValue: SearchQuery.fermentSlider.max, minSlider: 0, maxSlider:30, decimal: 0, step:1, suffix: 'C', pipDensity: 3.5, pipValues: [0,10,20,30], pipMode: 'values'}"></div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <input id="fermentmax" type="text" class="form-control" data-bind="textInput: SearchQuery.fermentSlider.max" />
                        </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <p class="form-control-static"><strong>Has Extras</strong></p>
                    <label class="radio-inline">
                        <input type="radio" name="hasAdjuncts" id="hasAdjuncts1" value="" data-bind="checked: SearchQuery.hasAdjuctsQuery"> Either
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="hasAdjuncts" id="hasAdjuncts2" value="N" data-bind="checked: SearchQuery.hasAdjuctsQuery" checked> No
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="hasAdjuncts" id="hasAdjuncts3" value="Y" data-bind="checked: SearchQuery.hasAdjuctsQuery"> Yes
                    </label>
                </div>

               
                <div class="form-group">
                    <p class="form-control-static"><strong>Advanced options</strong></p>
                    <p class="form-control-static"><strong>Show close matches?</strong><br />Selecting 'Yes' will group the results by exaxt matches, followed by recipes that would need 1-5 extra ingredients besides the ones selected above</p>
                    <label class="radio-inline">
                        <input type="radio" name="groupResults" id="groupResults1" value="true" data-bind="checked: SearchQuery.groupResults" checked> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="groupResults" id="groupResults1" value="false" data-bind="checked: SearchQuery.groupResults"> No
                    </label>
                </div>

                <button type="submit" class="btn btn-default">Search</button>
                <button type="button" class="btn btn-default" data-bind="click: SearchQuery.reset">Reset</button>
            </form>
        </div>

        <div class="page-header clearfix collapsed hand-cursor double-padding no-margin" role="button" data-toggle="collapse" data-parent="#recipesApp" href="#resultsPanelCollapse" aria-expanded="true" aria-controls="resultsPanelCollapse">
            <form class="form-inline sort clearfix">
                <div class="form-group">
                    <h2 class="clearfix">
                        <span class="glyphicon glyphicon-th-list rounded-back"></span>Recipe Results 
                        <label class="sr-only" for="sorter">Sort</label>
                        <span class="glyphicon glyphicon-menu-up pull-right"></span>
                        <select class="form-control pull-right" data-bind="value: sort, event: { change: doSort }, click: stopCollapse">
                            <option value="">Sort</option>
                            <option value="AbvAsc">ABV Asc</option>
                            <option value="AbvDesc">ABV Desc</option>
                            <option value="NameAsc">Name Asc</option>
                        </select>

                    </h2>




                </div>
            </form>
        </div>
        <div id="resultsPanelCollapse" class="collapse slidein" role="tabpanel" aria-labelledby="resultsPanelHeading">

            <div class="spinner" id="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

            <div class="col-sm-6 slidein-master remove-padding-left no-padding-xs" id="recipeList">

                <!-- ko if: SearchQuery.groupResults() === 'true' && searchHasRun() === true -->
                <h3 class="hand-cursor" role="button" data-toggle="collapse" data-target="#exact" aria-expanded="false" aria-controls="exact">Exact Matches <span class="badge" data-bind="text: Recipes().length"></span><span class="glyphicon glyphicon-menu-up pull-right"></span></h3>
                <!-- /ko -->




                <div class="list-group collapse in" id="exact">
                    <!-- ko foreach: Recipes -->

                    <a href="#top" class="list-group-item clearfix" data-bind="click: $parent.getRecipeDetail">
                        <span class="ebcBlob" data-bind="style: { backgroundColor: colorHex() }"></span>
                        <span data-bind="text: name"></span>
                        <span class="badge" data-bind="text: formattedABV"></span>
                    </a>
                    <!-- /ko -->
                    <!--ko if: Recipes().length === 0 && searchHasRun() === true -->
                    <p>No exact matches</p>
                    <!-- /ko -->
                </div>
                <!-- ko if: SearchQuery.groupResults() === 'true' && searchHasRun() === true -->
                <h3 class="hand-cursor collapsed" role="button" data-toggle="collapse" data-target="#oneAdd" aria-expanded="false" aria-controls="oneAdd">One ingredient <span class="badge" data-bind="text: recipeMatch1().length"></span><span class="glyphicon glyphicon-menu-up pull-right"></span></h3>
                <div class="list-group collapse" id="oneAdd">

                    <!--ko foreach: recipeMatch1 -->
                    <a href="#" class="list-group-item clearfix" data-bind="click: $parent.getRecipeDetail">
                        <span class="ebcBlob" data-bind="style: { backgroundColor: colorHex() }"></span>
                        <span data-bind="text: name"></span>
                        <span class="badge" data-bind="text: formattedABV"></span>
                    </a>
                    <!-- /ko -->
                    <!--ko if: recipeMatch1().length === 0 && searchHasRun() === true -->
                    <p>No results</p>
                    <!-- /ko -->
                </div>
                <h3 class="hand-cursor collapsed" role="button" data-toggle="collapse" data-target="#twoAdd" aria-expanded="false" aria-controls="twoAdd">Two ingredients <span class="badge" data-bind="text: recipeMatch2().length"></span><span class="glyphicon glyphicon-menu-up pull-right"></span></h3>
                <div class="list-group collapse" id="twoAdd">

                    <!--ko foreach: recipeMatch2 -->
                    <a href="#" class="list-group-item clearfix" data-bind="click: $parent.getRecipeDetail">
                        <span class="ebcBlob" data-bind="style: { backgroundColor: colorHex() }"></span>
                        <span data-bind="text: name"></span>
                        <span class="badge" data-bind="text: formattedABV"></span>
                    </a>
                    <!-- /ko -->
                    <!--ko if: recipeMatch2().length === 0 && searchHasRun() === true -->
                    <p>No results</p>
                    <!-- /ko -->
                </div>
                <h3 class="hand-cursor collapsed" role="button" data-toggle="collapse" data-target="#threeAdd" aria-expanded="false" aria-controls="threeAdd">Three ingredients <span class="badge" data-bind="text: recipeMatch3().length"></span><span class="glyphicon glyphicon-menu-up pull-right"></span></h3>
                <div class="list-group collapse" id="threeAdd">

                    <!--ko foreach: recipeMatch3 -->
                    <a href="#" class="list-group-item clearfix" data-bind="click: $parent.getRecipeDetail">

                        <span class="ebcBlob" data-bind="style: { backgroundColor: colorHex() }"></span>
                        <span data-bind="text: name"></span>
                        <span class="badge" data-bind="text: formattedABV"></span>
                    </a>
                    <!-- /ko -->
                    <!--ko if: recipeMatch3().length === 0 && searchHasRun() === true -->
                    <p>No results</p>
                    <!-- /ko -->
                </div>
                <h3 class="hand-cursor collapsed" role="button" data-toggle="collapse" data-target="#fourAdd" aria-expanded="false" aria-controls="fourAdd">Four ingredients <span class="badge" data-bind="text: recipeMatch4().length"></span><span class="glyphicon glyphicon-menu-up pull-right"></span></h3>
                <div class="list-group collapse" id="fourAdd">

                    <!--ko foreach: recipeMatch4 -->
                    <a href="#" class="list-group-item clearfix" data-bind="click: $parent.getRecipeDetail">
                        <span class="ebcBlob" data-bind="style: { backgroundColor: colorHex() }"></span>
                        <span data-bind="text: name"></span>
                        <span class="badge" data-bind="text: formattedABV"></span>
                    </a>
                    <!-- /ko -->
                    <!--ko if: recipeMatch4().length === 0 -->
                    <p>No results</p>
                    <!-- /ko -->
                </div>
                <h3 class="hand-cursor collapsed" role="button" data-toggle="collapse" data-target="#fiveAdd" aria-expanded="false" aria-controls="fiveAdd">Five+ ingredients <span class="badge" data-bind="text: recipeMatch5().length"></span><span class="glyphicon glyphicon-menu-up pull-right"></span></h3>
                <div class="list-group collapse" id="fiveAdd">

                    <!--ko foreach: recipeMatch5 -->
                    <a href="#" class="list-group-item clearfix" data-bind="click: $parent.getRecipeDetail">
                        <span class="ebcBlob" data-bind="style: { backgroundColor: colorHex() }"></span>
                        <span data-bind="text: name"></span>
                        <span class="badge" data-bind="text: formattedABV"></span>
                    </a>
                    <!-- /ko -->
                    <!--ko if: recipeMatch5().length === 0 -->
                    <p>No results</p>
                    <!-- /ko -->
                    <!-- /ko -->

                </div>
                <!-- /ko -->
                @*<ul class="list-unstyled" data-bind="foreach: Recipes.Recipe">
                        <li>
                            <strong><span data-bind="text: name"></span></strong>: <span data-bind="text: abv"></span>%
                            <small><a href="#" data-bind="click: $parent.Recipes.getRecipeDetail">Details</a></small>
                        </li>
                    </ul>*@
            </div>

            <div class="col-sm-6 slidein-child remove-padding-right no-padding-xs" id="recipeDetail">
                <!-- ko foreach: SelectedRecipe -->
                <div class="panel panel-primary">



                    <div class="panel-heading">
                        <h2 class="panel-title"> <span class="round-icon round-icon-recipe"><!-- ko text: name --><!--/ko--></span><a href="#" class="pull-right visible-xs-inline-block" data-bind="click: $parent.toggle" name="detail"><span class="glyphicon glyphicon-menu-left"></span> back</a><br /></h2>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xxs-12 col-xs-3 col-sm-12 col-md-3 no-padding">
                              <p class="bs-recipe-line"><!-- ko text: source2 --><!--/ko--> <!--ko if: number !== "null"--> #<span data-bind="text: number"></span><!-- /ko --></p>
                                        <p class="bs-recipe-line" data-bind="text: beerStyles.subCategoryName"></p>
                                  
                                        <p class="bs-recipe-line" data-bind="css: {'bg-danger': hasAdjucts() === 'Y'}">Has Extras: <span data-bind="text: hasAdjucts"></span></p>
                                  
                                        
                                    
                               
                            </div>
                            <div class="col-xxs-12 col-xs-9 col-sm-12 col-md-9 xs-no-padding">
                                <div class="beer-style clearfix">
                                    <div class="bs-info">
                                        <div class="bs-line">
                                            <div class="bs-range" data-bind="style: {top: beerStyles.ebcTop, height: beerStyles.ebcHeight}"></div>
                                            <div class="bs-recipe" data-bind="style: {top: ebcTop}"></div>
                                        </div>
                                        <span>EBC:</span><span data-bind="text: ebc"></span>
                                    </div>
                                    <div class="bs-info">
                                        <div class="bs-line">
                                            <div class="bs-range" data-bind="style: {top: beerStyles.ogTop, height: beerStyles.ogHeight}"></div>
                                            <div class="bs-recipe" data-bind="style: {top: ogTop}"></div>
                                        </div>
                                        <span>OG:</span><span data-bind="text: og"></span>
                                    </div>
                                    <div class="bs-info">
                                        <div class="bs-line">
                                            <div class="bs-range" data-bind="style: {top: beerStyles.fgTop, height: beerStyles.fgHeight}"></div>
                                            <div class="bs-recipe" data-bind="style: {top: fgTop}"></div>
                                        </div>
                                        <span>FG:</span><span data-bind="text: fg"></span>
                                    </div>
                                    <div class="bs-info">
                                        <div class="bs-line">
                                            <div class="bs-range" data-bind="style: {top: beerStyles.ibuTop, height: beerStyles.ibuHeight}"></div>
                                            <div class="bs-recipe" data-bind="style: {top: ibuTop}"></div>
                                        </div>
                                        <span>IBU:</span><span data-bind="text: ibu"></span>
                                    </div>
                                    <div class="bs-info">
                                        <div class="bs-line">
                                            <div class="bs-range" data-bind="style: {top: beerStyles.abvTop, height: beerStyles.abvHeight}"></div>
                                            <div class="bs-recipe" data-bind="style: {top: abvTop}"></div>
                                        </div>
                                        <span>ABV:</span><span data-bind="text: formattedABV"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <table class="table">
                        <tr data-bind="css: yeastCss"><td class="bs-column-label"><span class="round-icon round-icon-yeast">Yeast</span></td><td data-bind="text: yeastName"></td></tr>
                        <tr><td class="bs-column-label"><span class="round-icon round-icon-mash">Mash Temp</span></td><td><span data-bind="text: mashTemp"></span>C</td></tr>
                        <tr><td  class="bs-column-label"><span class="round-icon round-icon-mash">Mash Time</span></td><td><span data-bind="text: mashTime"></span> minutes</td></tr>
                        <tr data-bind="css: {info: fermentation() < 18}"><td  class="bs-column-label"><span class="round-icon round-icon-fermentation">Fermentation</span></td><td><span data-bind="text: fermentation"></span>C</td></tr>
                        <tr>
                            <td class="td-top bs-column-label"><span class="round-icon round-icon-malt">Malts</span></td>
                            <td class="nested">
                                <table class="table table-nested">
                                    <tbody>
                                        <!-- ko foreach: recipe_Malts -->
                                        <tr data-bind="css: {danger: isMatched() === false}">
                                            <td class="bs-column-malt"><span data-bind="text: maltGenericName"></span>:</td><td class="bs-column-mweight"> <span data-bind="text: weight"></span>kg</td>
                                        </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-top bs-column-label"><span class="round-icon round-icon-hop">Hops / Extras</span></td>
                            <td class="nested">
                                <table class="table table-nested">
                                    <tbody>

                                        <!-- ko foreach: combinedHopsOther() -->
                                        <tr data-bind="css: {danger: isMatched() === false}">
                                            <td class="bs-column-hop"><span data-bind="text: hopName"></span>: </td><td class="bs-column-hweight"><span data-bind="text: weight"></span>g </td><td data-bind="text: stepName" class="bs-column-hstep"></td>
                                        </tr>
                                        <!-- /ko -->

                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr><td class="bs-column-label"><span class="round-icon round-icon-hop">Total Hop Bill</span></td><td><span data-bind="text: totalHopsBill"></span>g</td></tr>
                        <tr>
                            <td class="td-top bs-column-label"><span class="round-icon round-icon-hop">Each hop</span></td>
                            <td class="nested">
                                
                                @*<p><span data-bind="text: hopName" class="bs-total-hop"></span>: <span data-bind="text: weight"></span>g</p>*@
                                <table class="table table-nested">
                                    <tbody>

                                        <!-- ko foreach: totalEachHop -->
                                        <tr data-bind="css: {danger: isMatched === false}">
                                            <td class="bs-column-hop"><span data-bind="text: hopName"></span>: </td>
                                            <td class="bs-column-hweight"><span data-bind="text: weight"></span>g </td>
                                        </tr>
                                        <!-- /ko -->

                                    </tbody>
                                </table>
                                  
                            </td>
                        </tr>
                        <tr><td colspan="2"><a href="#" class="btn btn-default" data-bind="click: $parent.beerXml">Export to Beer XML</a><a href="#" class="btn btn-primary" data-bind="attr: { 'href': '@Url.Action("AddEdit", "Home")/' + id() }">Edit</a></td></tr>

                    </table>


                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

