
@{
    ViewBag.Title = "MyStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/myStock")
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header clearfix extra-padding no-margin">
            <h2><span class="glyphicon glyphicon-shopping-cart rounded-back"></span>My Stock</h2>
            </div>

            <form data-bind="submit: updateStock">

                <div class="form-group">
                    <label for="malts">Malts</label>
                    <select id="malts" data-bind="options: Malts.Malt, optionsText: 'malt', optionsValue : 'id', selectedOptions: myMalts.malts, select2: {selection: myMalts.malts, closeOnSelect: false}" size="10" multiple class="form-control" style="width: 100%"></select>
                    <br />
                </div>

                <div class="form-group">
                    <label for="hops">Hops</label>
                    <select id="hops" data-bind="options: Hops.Hop, optionsText: 'hops', optionsValue : 'id', selectedOptions: myHops.hops, select2: {selection: myHops.hops, closeOnSelect: false}" size="10" multiple class="form-control" style="width: 100%"></select>
                </div>


                <div class="form-group">
                    <label for="yeast">Yeast</label>
                    <select id="yeast" data-bind="options: Yeasts.Yeast, optionsText: 'yeastName', optionsValue : 'id', selectedOptions: myYeasts.yeasts, select2: {selection: myYeasts.yeasts, closeOnSelect: false}" size="10" multiple class="form-control" style="width: 100%"></select>
                </div>
                <button type="submit" class="btn btn-default">Update</button>
            </form>

        </div>
    </div>


