body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.noUi-connect {
    background: #428bca;
}

.page-header h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.page-header .form-group {
    margin-bottom: 0px;
}

.remove-padding-right {
    padding-right: 0px;
}

.remove-padding-left {
    padding-left: 0px;
}

.remove-margin-top {
    margin-top: 0px;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.sm-margin-left{
    margin-left:5px;
}

.btn{
    margin-bottom:2px;
}

@media (max-width: 768px) {
    .xs-no-padding {
        padding:0px;
    }
}

@media (max-width: 580px) {
    .col-xxs-12{
        width:100%;
    }
}

    .no-margin {
        margin: 0px;
    }

    .extra-padding {
        padding-bottom: 12px;
    }

.half-padding {
    padding-bottom: 7px;
}

.no-border:last-child {
    border-top:0px;
}

.no-border:first-child {
    border-bottom: 0px;
}

.margin-bottom{
    margin-bottom:15px;
}

    .double-margin, h2.double-margin {
        margin-top: 15px;
    }

    .hand-cursor {
        cursor: pointer;
    }

    #searchPanelCollapse, #resultsPanelCollapse {
        margin-top: 15px;
    }

    .collapsed .glyphicon-menu-up:before {
        content: "\e259";
    }

    .slider-cont {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .sort .form-group {
        width: 100%;
    }

.sort select {
    margin-right: 18px;
    width: 95px;
    padding: 3px;
    height:30px;
}

    img.round-icon {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

.round-icon {
    background-repeat: no-repeat;
    background-position: left center;
    padding: 6px 0 0 32px;
    display: inline-block;
    background-size: 30px;
    min-height: 31px;
}

h2 .round-icon{
    padding: 3px 0 0 35px;
}

.round-icon-recipe{
    background-image: url(../img/recipe-icon.png);
}

.round-icon-recipe-yellow {
    background-image: url(../img/recipe-icon-yellow.png);
}

.round-icon-yeast {
    background-image: url(../img/yeast-icon-trans.png);
}

.round-icon-mash {
    background-image: url(../img/mash-icon.png);
}

.round-icon-fermentation {
    background-image: url(../img/fermentation-icon.png);
}

.round-icon-malt {
    background-image: url(../img/malt-icon-trans.png);
}

.round-icon-hop {
    background-image: url(../img/hop-icon-trans.png);
}

.round-icon-boil {
    background-image: url(../img/boil-icon.png);
}

.round-icon-batch {
    background-image: url(../img/batch-icon.png);
}

.round-icon-notes {
    background-image: url(../img/note-icon.png);
}

    @media (max-width: 767px) {
        .slider-cont {
            padding-left: 30px;
            padding-top: 15px;
        }

        .no-padding-xs {
            padding: 0;
            margin: 0;
        }

        .panel-title .round-icon{
            width:75%;
        }
    }

    .noMatch {
        background-color: red;
    }

    .subMatch {
        background-color: orange;
    }

    .slidein {
        position: relative;
        overflow: hidden;
    }

    .table > tbody > tr > td.nested {
        padding: 0;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: middle;
    }

        .table > tbody > tr > td.td-top {
            vertical-align: top;
        }

    .table-nested {
        margin-bottom: 0;
        background-color: rgba(211, 216, 193, 0.4);
        min-height: 46.67px;
    }

    .table.table-nested > tbody > tr:first-child > td {
        border-top: 0px;
    }

    table.table-nested:first-child tr:first-child td:first-child {
        /*border-top:0px;*/
    }

    .rounded-back:before {
        color: #fff;
        background-color: #febd01;
        font-size: 0.7em;
        padding: 5px 7px;
        border-radius: 15px;
        margin-right: 5px;
    }

.ebcBlob {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    float: left;
    margin-right: 5px;
}

    @media screen and (max-width: 767px) {
        .slidein .slidein-child {
            position: absolute;
            top: 0px;
            width: 100%;
            right: -110%;
            transition: right 0.5s ease;
        }

        .slidein .slidein-master {
            width: 100%;
            left: 0;
            transition: left 0.5s ease, height 0s ease 0.5s;
            height: auto;
        }

        .slidein .slidein-child.slideshow {
            right: 0px;
        }

        .slidein .slidein-master.slidehide {
            left: -110%;
            height: 0px;
            transition: left 0.5s ease, height 0s ease;
        }
    }

    .show-overflow {
        overflow: visible;
    }

    .spinner {
        margin: 0 auto 0;
        width: 70px;
        text-align: center;
        display: none;
    }

        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0)
        }

        40% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }

    .min-350 {
        min-width: 380px;
    }

    .min-155 {
        min-width: 155px;
    }

    .beer-style {
        margin: 0 auto;
        width: 350px;
        text-align: center;
    }

.form-inline .select2-container--bootstrap {
    width: 100% !important;
    margin-bottom: 15px;
}

.select2-container--bootstrap {
    width: 100% !important;
}

    @media (max-width:768px) {
        .beer-style {
            width: 340px;
        }

        .list-group-item.form-inline.clearfix .form-group{
            width:90%;
        }

        .form-inline .select2-container--bootstrap{
            width:90%!important;
        }

        .item-delete.enabled {
            position: absolute;
            top: 8px;
            right: 7px;
        }
    }

    .bs-info {
        width: 20%;
        float: left;
    }

    .bs-line {
        margin: 0 auto;
        background-color: #e9ece0;
        width: 15px;
        height: 200px;
        position: relative;
    }

    .bs-range {
        position: absolute;
        background-color: #575f3b;
        width: 15px;
    }

    .bs-recipe {
        height: 2px;
        position: absolute;
        background-color: #febd01;
        width: 15px;
    }

    .bs-recipe-line {
        padding: 8px;
        margin: 0px;
        display: block;
    }

    .bs-recipe-title {
    }

    .bs-total-hop {
        width: 40%;
        display: inline-block;
    }

    .bs-label-column {
        width: 40%;
    }

    .bs-column-malt {
        width: 40%;
    }

    .bs-column-mwight {
    }

    .bs-column-hop {
        width: 40%;
    }

    .bs-column-hweight {
    }

    .bs-column-hstep {
    }

.item-delete {
    display:none;
    font-size: 1.75em;
    
}

.item-delete.enabled {
    display:block;
    color: #d9534f;
    cursor: pointer;
}

.form-inline select {
    width: 100%;
}

.form-inline.sort select {
    width:auto;
}


@media (min-width: 768px) {
    .form-inline select {
        width:50%;
    }

    .form-inline.sm-select select {
        width: 28%;
    }

    .form-inline .select2-container--bootstrap {
        width: 50% !important;
        margin-bottom:0px;
    }

    .form-inline.sm-select .select2-container--bootstrap {
        width: 28% !important;
    }

    .form-inline.sort select {
        width: auto;
    }

    .form-inline .input-group > .form-control.scale {
        width: 50px;
    }
}

.toast {
    position: fixed;
    top: 62px;
    width: 50%;
    margin: 0 0 0 25%;
    visibility:hidden;
    z-index:9999;
}

.toast.show-toast{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 62px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 62px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 62px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 62px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}